<%- if @weather_lookup.lat && @weather_lookup.lon -%>
  <div class="row no-gutters main-row">
    <div class="col">
      <%= 
        map(
          :center => {
            :latlng => [@weather_lookup.lat, @weather_lookup.lon],
            :zoom => 12
          },
          :markers => [{
            :latlng => [@weather_lookup.lat, @weather_lookup.lon],
            :popup => session[:popover]
          }],
          :minZoom => 9
        )
      %>
    </div><!-- /.col -->
  </div><!-- /.row -->
<%- end -%>
<div class="container">
  <div class="row main-row">
    <div class="col">
      <h1>Historic Lookup #<%= @weather_lookup.id %> <%= link_to("Back", root_path, class: "btn btn-primary btn-sm") %></h1>
      <div class="card">
        <div class="card-header">
          <%= @weather_lookup.city %>, <%= @weather_lookup.country %> Weather on <%= local_time(@weather_lookup.created_at) %>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p>
                <b>Weather:</b> <span class='current-weather'><%= @weather_lookup.weather %></span><br>
                <b>Temperature:</b> <span class='current-temp'><%= @weather_lookup.temp.html_safe %></span><br>
                <b>Pressure:</b> <span class='current-pressure'><%= @weather_lookup.pressure %></span><br>
                <b>Humidity:</b> <span class='current-humidity'><%= @weather_lookup.humidity %></span><br>
              </p>
            </div><!-- /.col -->
            <div class="col">
              <p>
                <b>Wind Speed:</b> <span class='current-wind-speed'><%= @weather_lookup.wind_speed %></span><br>
                <b>Wind Direction:</b> <span class='current-wind-direction'><%= @weather_lookup.wind_dir.html_safe %></span><br>
                <b>Sunrise:</b> <span class='sunrise'><%= local_time(@weather_lookup.sunrise, '%l:%M%P') %></span><br>
                <b>Sunset:</b> <span class='sunset'><%= local_time(@weather_lookup.sunset, '%l:%M%P') %></span><br>
              </p>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
